@import url(reset.css);

body{
	font: 13px/1.4 Arial, Tahoma, Verdana, sans-serif;
	background: url(../images/main-bg.jpeg);
}

a{
	text-decoration: 0;

}

#header{
	min-width: 960px;
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
}

#logo{
	width: 241px;
	height: 46px;
	float: left;
	margin: 43px 0 42px 160px;
}

#banner{
	width: 468px;
	height: 60px;
	float: right;
	margin: 35px 160px 36px 
}

#top-menu{
	background: url(../images/header-background.png) repeat-x;
	height: 49px;
	min-width: 960px;

}

#in-menu, #wrapper{
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
}


#in-menu ul li{
	float: left;
	margin:0 auto;
	text-transform: uppercase;
	font: 12px Arial;
}

#in-menu a{
	font: 12px;
	color: #ebebeb;
	text-decoration: none;
	padding: 17px 15px;
	display: block;
	
}

#in-menu a:hover{
	background: url(../images/background-hover.png) repeat-x;
	
}

#sidebar{
	width: 300px;
	height: 400px;
	background: #b2b2b2;
	float: right;
}

#content{
	height: 400px;
	background: #62ffa4;
	margin-right: 300px;
}

