@import url(reset.css);

body{
	font: 13px/1.4 Arial, Tahoma, Verdana, sans-serif;
	background: url(../images/main-bg.jpeg);
	color: #5e5e5e;
}

a{
	text-decoration: none;
	color: #5e5e5e;
}
a:hover{
	text-decoration: underline;
	color: #5e5e5e;
}

h2{
	font-size: 18px;
	line-height: 1.1;
	margin: 0 0 6px 0;
}

#header{
	min-width: 960px;
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
}

#logo{
	width: 241px;
	height: 46px;
	float: left;
	margin: 43px 0 42px 160px;
}

#banner{
	width: 468px;
	height: 60px;
	float: right;
	margin: 35px 160px 36px 
}

#top-menu{
	background: url(../images/header-background.png) repeat-x;
	height: 49px;
	min-width: 960px;

}

#in-menu, #wrapper{
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
}


#in-menu ul li{
	float: left;
	margin:0 auto;
	text-transform: uppercase;
	font: 12px Arial;
}

#in-menu a{
	font: 12px;
	color: #ebebeb;
	text-decoration: none;
	padding: 17px 15px;
	display: block;
	
}

#in-menu a:hover{
	background: url(../images/background-hover.png) repeat-x;
	text-decoration: none;
}


#sidebar{
	width: 300px;
	height: 400px;
	background: #b2b2b2;
	float: right;
}

#content{
	margin-right: 300px;
	padding: 30px 38px 0 10px
}

.post{
	border-bottom: 1px dashed #e5e5e5;
	overflow: hidden;
	
}

.thumbnail{
	float: left;
}

.thumbnail img{
	border: 3px solid #e0e0e0;
}

.post-categories, .post-published{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #aaaaaa;
	margin: 0 0 3px 0;
}

.clear{
	clear: both;
}

.content-text{
	margin-left: 180px;
}



